<style>
  body {
    margin: 0 !important;
    padding: 0 !important;
  }

  .ui.secondary.menu.no-horizontal-scrollbar,
  .page-footer,
  #navbar {
    display: none !important;
  }

  .page-content {
    padding-top: 0 !important;
    width: 100% !important;
  }

  .page-content > .ui.container {
    width: 100% !important;
    max-width: 100% !important;
    margin: 0 !important;
    padding: 8px 16px !important;
  }
</style>
