<style>
  body {
    margin: 0 !important;
    padding: 0 !important;
  }

  .ui.secondary.menu.no-horizontal-scrollbar,
  .page-footer,
  #navbar {
    display: none !important;
  }

  .page-content {
    padding-top: 0 !important;
    width: 100% !important;
  }

  .page-content > .ui.container {
    width: 100% !important;
    max-width: 100% !important;
    margin: 0 !important;
    padding: 8px 16px !important;
  }

  /* Branding: navbar logo centering & scaling */
  #navbar-logo > img:nth-child(1) {
    transform: scale(3) translateY(4px);
  }

  #navbar-logo {
    padding: 0 2em;
    margin-left: 2.643em;
  }

  div.container:nth-child(1) {
    padding-top: 1.2em;
  }
</style>
